.button-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin: 10px auto;
  padding: 20px 30px;
}

.button-container button {
  padding: 15px 40px;
  font-size: 18px;
  background: orange;
  border: 2px solid tomato;
  border-radius: 10px;
  cursor: pointer;
}

.button-container button[disabled] {
  background: #eee;
  border: 1px solid #ddd;
  cursor: not-allowed;
}


.form-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}